name: "CI"

on:
  push:
    branches:
      - "main"
  pull_request:

env:
  # renovate: datasource=github-releases depName=goreleaser packageName=goreleaser/goreleaser
  GORELEASER_VERSION: 2.13.2

jobs:
  lint:
    name: "Lint"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout the repository"
        uses: actions/checkout@v6

      - name: "Setup go"
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: false

      - name: "Check format"
        run: gofmt -l .

  test:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout the repository"
        uses: actions/checkout@v6

      - name: "Setup go"
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: "Run GoReleaser"
        uses: goreleaser/goreleaser-action@v6
        with:
          version: ${{ env.GORELEASER_VERSION }}
          args: release --clean --snapshot
